doctype html
html
	head
		title FireShell Studio
		link(rel='stylesheet' href='/css/HeaderStyles.css')
		link(rel='stylesheet' href='/css/LayoutStyles.css')
		link(rel='stylesheet' href='/css/LeftMainContentPanelStyles.css')
		link(rel='stylesheet' href='/css/RightMainContentPanelStyles.css')
		link(rel='stylesheet' href='/css/MainContentPanelStyles.css')
		link(rel='stylesheet' href='/css/Footer.css')
		link(rel='stylesheet' href='/css/FireShellClasses.css')
	body
		#MaintenanceBanner
			center
				h1 Website Under Maintenance
			center
				h2 Explore the experimental elements found here at FireShell Studio!
		
		#NavigationBar.NavBar
			a.active(href="/") Home
			a(href="/Projects") Projects
			a(href="/Contact") Contact
			a(href="/About")  About
			a.navIcon(href="javascript:void(0);" onclick="DropMenu()") &#9776;
					
		#MainContent
			block content
		
		#Footer
			p Copyright &copy; 2018

		script(src='/js/LayoutEditor.js')
		script(type='text/javascript' src='/widgets/CustomAlert/myAlerts.js')
		script(type='text/javascript' src='/widgets/WheelSlideshow/WheelSlideshow.js')
		script(type='text/javascript' src='/widgets/BumperBubbles/BumberBubbles.js')
		script(type="text/javascript" src="js/Commands.js")
		