extends layout

block content
	#LeftMainContentPanel
	
		#WheelInterface
			form(id="WheelInterfaceForm")
				input.slider(id="SubDivisions"    type="range" min="1" max="100" value="50")
				input.slider(id="SlideshowRadius" type="range" min="1" max="100" value="50")
	
	#RightMainContentPanel
			
		canvas(id="slideshow-wheel-widget-container" width="800" height="800" onMouseMove="GetMousePosition(event)" value='{"CenterX": 400,	"CenterY": 400, "WheelRadius": 400, "WheelEndTheta": 1.57, "IsRounded": true, "GridMode": false, "SubDivisions": 10, "CenterPaddingRadius": 300, "HasLabels": true}') Your browser does not support the HTML5 canvas tag.
		#slideshow-wheel-widget-collection(hidden)
			img(alt="Animation" src="img/slide_animation_01.png")
			img(alt="Illustration" src="img/slide_illustration_01.png")
			img(alt="Video" src="img/slide_video_01.png")
			img(alt="Logo" src="img/slide_logo_01.png")
			img(alt="Concept" src="img/slide_concept_01.png")
			img(alt="Animation" src="img/slide_animation_02.png")
			img(alt="Illustration" src="img/slide_illustration_02.png")
			img(alt="Video" src="img/slide_video_02.png")
			img(alt="Animation" src="img/slide_animation_03.png")
			
		button(onclick="button_click()") Click Me!