extends layout

block content
	h1 Projects
	
	#MainContentPanel
	
		canvas(id="image-bumber-bubbles-widget" onmousemove="getBumperBubblesMousePosition(event)" onclick="getBumperBubblesClickedElement(event)")
			img(src='img/slide_animation_01.png')
			img(src='img/slide_animation_02.png')
			img(src='img/slide_animation_03.png')
			img(src='img/slide_concept_01.png')
			img(src='img/slide_illustration_01.png')
			img(src='img/slide_illustration_02.png')
			img(src='img/slide_logo_01.png')
			img(src='img/slide_video_01.png')
			img(src='img/slide_video_02.png')