<div id="MainContentPanel" onResize=>

	<canvas id="image-bumber-bubbles-widget" 
		onmousemove="getBumperBubblesMousePosition(event)" 
		onclick="getBumperBubblesClickedElement(event)">
		
		<img src="img/slide_animation_01.png"></img>
		<img src="img/slide_animation_02.png"></img>
		<img src="img/slide_animation_03.png"></img>
		<img src="img/slide_concept_01.png"></img>
		<img src="img/slide_illustration_01.png"></img>
		<img src="img/slide_illustration_02.png"></img>
		<img src="img/slide_logo_01.png"></img>
		<img src="img/slide_video_01.png"></img>
		<img src="img/slide_video_02.png"></img>
	</canvas>

</div>

<script type='text/javascript' src='/js/ProjectsLayoutEditor.js'></script>
<script type="text/javascript" src="/widgets/BumperBubbles/BumperBubbles.js"></script>
<script type="text/javascript" src="/js/ProjectsCommands.js"></script>