#MainContent
{
	position:absolute;
	left:0;
	right:0;
	top:45px;;
	bottom:45px;
	background-color:#000;
}

#MaintenanceBanner
{
	position:absolute;
	top:75px;
	left:20%;
	right:20%;
	z-index:2;
	background-color:rgba(0,0,0,0.6);
	border: 6px solid #000;
	color:#FFF;
}