doctype html
html
	head
		title FireShell Studio
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/css/HeaderStyles.css')
		link(rel='stylesheet' href='/css/LayoutStyles.css')
	body
		#MaintenanceBanner
			center
				h1 Website Under Maintenance
			center
				h2 Explore the experimental elements found here at FireShell Studio!
		
		#NavigationBar.NavBar
			a.active(href="/") Home
			a(href="/Projects") Projects
			a(href="/Contact") Contact
			a(href="/About")  About
			a.navIcon(href="javascript:void(0);" onclick="DropMenu()") &#9776;
					
		#MainContent
			block content
		
		footer
			p Copyright &copy; 2018

		script(src='/js/LayoutEditor.js')
		script(src='https://raw.githubusercontent.com/stephenwike/SlideShowWheelWidget/master/boot.js')
		