<div id="projectDiv">
	<div id="projectContainer">
		<div class="ProjectBlock">
			<div class="ProjectHeader">
				<h1>Lens Models</h1>
			</div>
		</div>
		
		<div class="ProjectBlock">
			<div class="ProjectHighlight">
				<center><img class="lrg_img_line" src="/img/projects/lensmodels/lenses.png"/></center>
			</div>
		</div>

		<div class="ProjectBlock">
			<div class="ProjectContent">
				<p>This was a simple project where the client sent some physical lenses that needed to be modeled as 3D .obj objects.</p>
			</div>
		</div>
		
		<div class="ProjectBlock">
			<div class="ProjectHighlight">
				<figure class="center_figure">
					<center>
						<a href="/img/projects/lensmodels/lens1and2.png"><img class="spread" src="/img/projects/lensmodels/lens1and2.png"/></a>
						<figcaption>Screenshot of lense models with render edges turned on.</figcaption>
					</center>
				</figure>
			</div>
		</div>
		
		<div class="ProjectBlock">
			<div class="ProjectHighlight">
				<center>
					<a href="/img/projects/lensmodels/lensAll.png"><img class="med_img_line" src="/img/projects/lensmodels/lensAll.png"/></a>
				</center>
			</div>
		</div>
		
		<div class="ProjectBlock">
			<div class="ProjectReferences">
				<h2>References</h2>
				<p>Their are no references for this project.</p>
			</div>
		</div>
	</div>
</div>