<div id="projectDiv">
	<div id="projectContainer">
		
		<div class="ProjectBlock">
			<div class="ProjectHeader">
				<h1>Squibble Illustration Assignment</h1>
			</div>
		</div>
		
		<div class="ProjectBlock">
			<div class="ProjectHighlight">
				<center>
					<a href="/img/projects/squibble/Wike_Squibble.jpg">
						<img class="lrg_img_line" src="/img/projects/squibble/Wike_Squibble.jpg"/>
					</a>
				</center>
			</div>
		</div>
		
		<div class="ProjectBlock">
			<div class="ProjectContent">
				<p>This mock Scientific American article was an illustration assignment where the requirements were to create an illustration and article spread based on provided article content.  
				The content covers a fictional creature from another planet called a squibbles.</p>
			</div>
		</div>
		
		<div class="ProjectBlock">
			<div class="ProjectContent">
				<h2>Article Content</h2>
				<p>WHAT ARE SQUIBBLES?</p>
				<p>Squibbles are small (approximately 13 cm tall), rotund creatures living deep in the isolated Funkoree Desert of the planet Skornap.  One of the most remarkable features of this unique animal is its digestive system.  Due to the course environment, scarcity of food sources and limited exposure to moisture and sun, squibbles have developed a digestive system capable of removing moisture and nutrients from a particular mineral called purple farzonite,  The mineral is found scattered throughout the desert and usually manifests in small pyramidal shaped with a porous center.  Multiple tubules flow from the four sides toward the center and retain moisture.  This unique mineral, similar to coal, is formed from an extinct plant material and contains a good deal of the nutrient charzoline which is a vital component to all forms of life on planet Skornap.  In order to process purple farzonite, squibbles have developed a series of magnificent organs and systems as described below.</p>
			</div>
		</div>
		
		<div class="ProjectBlock">
			<div class="ProjectContent">
				<p>Though fairly soft as far as minerals go, purple farzonite is still quite difficult to process.  Squibbles are equipped with two rows of very hard teeth on each jaw.  The teeth are relatively flat, much like the rear masticating teeth found in many ungulates on planet earth.  On closer inspection, however, you will notice very small spikes covering the surface that aid in breaking down and grinding the mineral.  The addition of saliva containing a specialized enzyme, farzonase, helps speed the process of breaking down the mineral into very small particles.</p>
			</div>
		</div>
		
		<div class="ProjectBlock">
			<div class="ProjectContent">
				<p>Once the farzonite mineral is sufficiently reduces and swallowed, the food particles and liquid materials are sent to the first and largest chamber of a two-chambered stomach.  Arranged in an hourglass like fashion with the largest chamber on top and the smallest on bottom, liquid is separated from hard particles by a relatively simple filtration membrane between the two chambers.  The bottom chamber has specialized lining with many small folds that absorbs remaining enzymatic and non-water materials.  The remaining water is then passed peristaltically to a specialized water storage bladder, very similar to our urinary bladder with the exception that it is not for excretion.  Squibbles use this hydration bladder to store water for use by its body later, thereby wasting none of this precious resource.  The partially digested and ground mineral remaining in the large chamber of the stomach is then passed to a grinding organ equipped with fine tooth-like structures.  The addition of an acid-like secretion inside this organ helps break down the mineral into its simplest components to form a kind of paste and release the charzoline molecules for absorption by the system.  A series of 2 simple intestine-like structures follow.  The firs contains multiple folds equipped with cell that absorb charzoline for use by the body.  The second, much like our colon in appearance, though much shorter in length, is designed to remove any remaining water to be used by other body systems.  Unusable mineral matter is compressed and excreted in the form of small purple pellets.</p>
			</div>
		</div>
		
		<div class="ProjectBlock">
			<div class="ProjectContent">
				<p>The squibble’s unique digestive system is just on example of the evolutionary advantages this interesting creature exhibits.  To learn more, please come back next week where we will discuss the squibble’s senses such as hybrid color/ultraviolet vision and an exceptional sense of smell.</p>
				<p>-J.J. Farnsworth, PhD, Unassociated Press.</p>
			</div>
		</div>
		
		<div class="ProjectBlock">
			<div class="ProjectReferences">
				<h2>References</h2>
				<p>Their are no references for this project.</p>
			</div>
		</div>
		
	</div>
</div>